<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessing your name</title>
</head>
<body>
{% if name == 'Antoon' %}
    <h1>Welcome home, commander</h1>
{% else %}
    <h1>Hi {{ name }}</h1>
{% endif %}
    <h1>I think you are {{ age }} old...</h1>
    <h1>I think your gender is: {{ gender }}</h1>
    <a href="{{ url_for('blog') }}">Blog</a>
</body>
</html>