<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
    <h1>Hello World</h1>
    <h2>5 * 2 = {{ 5*2 }}</h2>
    <h3>Random number : {{ num }}</h3>
    <a href="{{ url_for('get_blog', num=3) }}">Go to blog</a>
</body>
<footer>Copyright {{ copyright_year }}</footer>
</html>